<div class="row">
  <div class="input-field col s12">
    <%= form.label :email %>
    <%= form.email_field :email, autofocus: true %>
  </div>
</div>

<div class="row">
  <div class="waves-effect waves-light btn">
    <%= form.submit "Recuperar senha" %>
  </div>
</div>
