<header class="header">
  <div>
    <h1 class="header__title"> Wellness </h1>
    <p class="header__text">
      Descomplique a sua saúde e a sua dieta
    </p>
  </div>
</header>

<section class="details">

  <h2 class="details__title"> Cuide da sua saúde de forma descomplicada com a ajuda de um profissional qualificado! </h2>

  <ul class="details__list">

    <li class="details__item">

      <%= image_tag("cellphone-icon.svg", class: "details__image", alt: "Celular desenhado") %>

      <h3> Rápido e prático </h3>

      <p>
        Envie uma foto da sua comida ou seu peso de qualquer lugar acessando do seu celular, notebook ou desktop.
      </p>
    </li>

    <li class="details__item">

      <%= image_tag("info-icon.svg", class: "details__image", alt: "Celular desenhado") %>

      <h3> Se mantenha informado </h3>

      <p>
        Tenha acesso a informações detalhadas sobre como está indo a sua dieta te ajudando a definir uma meta.
      </p>
    </li>

    <li class="details__item">

      <%= image_tag("heart-icon.svg", class: "details__image", alt: "Icone de coração") %>

      <h3> Fique saúdavel </h3>

      <p>
         Seguindo as orientações dadas pelo o profissional você sentirá a diferença em pouco tempo.
      </p>
    </li>
  </ul>
</section>

<section class="events">

  <h2> Eventos </h2>

  <ul class="events__cards">

    <li class="events__card">

      <h3> event name xx </h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <h4> professional name </h4>

      <div>

        <img src="" alt="Foto do profissional">

        <div>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </p>

          <p>
            Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>

<footer class="footer">

  <p>
    Todos os direitos reservados.
  </p>
</footer>
