<header class="header">
  <div>
    <h1 class="header__title"> Wellness </h1>
    <p class="header__text">
      Descomplique a sua saúde e a sua dieta
    </p>
  </div>
</header>

<section class="detail">
  <h2> Monitore sua saúde com dietas acompanhadas por profissionais qualificado </h2>

  <p>
    Participe de um evento, envie seu status diariamente e receba orientação da sua dieta através um profissional qualificado.
  </p>

  <div class="details__items">

    <div class="details__item">

      <img src="" alt="Celular desenhado" />

      <h3> Rápido e prático </h3>

      <p>
        Envie uma foto da sua comida ou seu peso de qualquer lugar que estiver acessando do seu celular, notebook ou desktop!
      </p>
    </div>

    <div class="details__item">

      <img src="" alt="Icone de informação" />

      <h3> Feeback diário </h3>

      <p>
        Receba todo dia uma orientação de um profissional sobre o que você está comendo
      </p>
    </div>
  </div>
</section>

<section class="events">

  <h2> Eventos </h2>

  <ul class="events__cards">

    <li class="events__card">

      <h3> event name xx </h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <h4> professional name </h4>

      <div>

        <img src="" alt="Foto do profissional">

        <div>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </p>

          <p>
            Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>

<footer class="footer">

  <p>
    Todos os direitos reservados.
  </p>
</footer>
