<header class="header">
  <h1> Wellness </h1>
  <p>
    Descomplique a sua saúde e a sua dieta
  </p>
</header>

<section class="detail">
  <h2> Monitore sua saúde com dietas acompanhadas por profissionais qualificado </h2>
  <p>
    Participe de um evento, envie seu status diariamente e receba orientação da sua dieta através um profissional qualificado.
  </p>

  <div class="details__items">

    <div class="details__item">
      <img src="" alt="Um celular" />
      <h3> Rápido e prático </h3>
      <p>
        Envie uma foto da sua comida ou seu peso de qualquer lugar que estiver acessando do seu celular, notebook ou desktop!
      </p>
    </div>

    <div class="details__item">
      <img src="" alt="Icone de informação" />
      <h3> Feeback diário </h3>
      <p>
        Receba todo dia uma orientação de um profissional sobre o que você está comendo
      </p>
    </div>
  </div>
</section>

<section class="events">
  <h2> Eventos </h2>
</section>

<footer class="footer">
  <p>
    Todos os direitos reservados.
  </p>
</footer>
