.loading {
  position: relative;
  min-height: 100vh;

  &::after {
    content: '';
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(#fff, .9);
  }
}

.loader {
  z-index: 11;
  position: fixed;
  top: 5%;
  left: 2%;
  color: rgba($light-blue, .9);
  font-size: 5rem;
}
