.user-home {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;

  @include tablet {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
  }

  &__name {
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 15px;

    @include tablet {
      font-size: 2.3rem;
    }

    @include desktop {
      margin-bottom: 30px;
    }
  }

  &__general-info {
    padding: 15px;

    @include tablet {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-top: 20px;
    }
  }

  &__feedback-card.card.small {
    height: 200px;
    font-size: 1.2rem;

    @include tablet {
      width: 500px;
    }

    .user-home__feedback-date {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  &__event-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__event-name {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 30px;

    @include tablet {
      text-align: left;
      font-size: 2.2rem;
    }
  }

  &__activity-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;

    @include tablet {
      min-width: 700px;
    }
  }

  &__activities {

    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__activity-button {

    @include tablet {
      background: none;
      border: none;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__activity-add {
    font-size: 1.4rem;
    font-weight: 300;
  }

  &__activity-title-container {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  &__activity-card.card.small {
    height: 270px;
    font-size: 1.2rem;

    @include tablet {
      margin-left: 10px;
      margin-right: 10px;
      width: 300px;
    }

    @include desktop {
      margin-left: 20px;
      margin-right: 20px;
    }

    .user-home__activity-card-title {
      padding: 9px;
      text-transform: capitalize;
      background-color: rgba($black, .5);
    }
  }

  &__photo-shoot {
    background: none;
    border: none;
  }

  &__events-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__event-button {
    margin: 10px 0;
  }

  &__event-attribute {
    margin: 15px 0 5px 0;

    @include tablet {
      margin: 10px 0 5px 0;
    }
  }
}
